#browse:hover {
	background-color: #F26600;
}
#history {
	background-color: #F26600;
}
#profile:hover {
	background-color: #F26600;
}
.history {
	position: relative;
	font-family: Arial;
	left: 5%;
	width: 90%;
}

.history > p {
	color: #F26600;
	font-size: 48px;
	font-weight: 600;
	margin: 30px 0;
}

.history > div {
	margin-bottom: 60px;
}

.book {
	display: inline-block;
	vertical-align: top;
}

h2 {
	margin: 0 0 7px 0;
	color: #F26600;
}
.bookhistory {
	height: 110px;
	clear: both;
	overflow: auto;
}
#book_desc {
	margin-left: 10px;
}
#book_desc p {
	margin: 3px 0;
	color: #4C4C4C;
	font-size: 15px;
}

#book_desc_2 {
	color: #4D4D4D;
	font-weight: 600;
	font-size: 15px;
	text-align: right;
	margin-left: 20px;
	float: right;
}

#book_desc_2 p {
	margin: 0 0 2px 0;
}

#button_review {
	text-decoration: none;
	border-radius: 3px;
	padding: 3px 15px;
	background-color: #0094CC;
	border: 1px solid #0094CC;
	font-size: 16px;
	color: white;
	margin-top: 35px;
	cursor: pointer;
}

#book_pic {
	height: 100px;
	width: 100px;
	text-align: center;

	border: 1px solid black;
	float: left;
}

#pic {
	max-height: 100px;
	max-width: 100px;
	width: auto;
	height: auto;
}