body{
	margin: 0;
}
.header {
	background-color: #00AEEF;
}
.info {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
#store-name {
	width: 25%;
	color: white;
	left: 25px;

	font-family: Arial;
	font-weight: 400;
	font-size: 43px;
}
#store-name p {
	display: inline;
	color: #F2D800;
}
#user {
	width: 20%;
	left: 47.5%;
	color: white;

	font-family: Helvetica;
	font-size: 23px;
}

#user p {
	margin: 15px 0;
}

#logout {
	padding: 12px 16.5px;
	background-color: #F26600;
	left: 49.5%;
}
#logout_pic {
	width: 34px;
	height: 39px;
}

.menus {
	font-size: 0;
}
.menu {
	display: inline-block;
	vertical-align: middle;
	position: relative;

	width: 33.23%;

	font-family: Helvetica;
	font-size: 28px;
	text-align: center;
	color: white;

	background-color: #0094CC;
}
.menu p {
	margin: 14px 0px;
}
#history {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
#browse {
	background-color: #F26600;
}
#history:hover {
	background-color: #F26600;
}
#profile:hover {
	background-color: #F26600;
}

.pic {
	width: 200px;
	height: 200px;
	border: 2px gray solid;
	text-align: center;
	float: left;
	margin-right: 30px;
}
.search {
    margin: auto;
	width: 92%;
    font-family: Cambria;
	font-size: 25px;
	text-align: left;
	padding-bottom: 40px;
}
.search h1 {
	color: #F26600;
	font-weight: normal;
    margin: 30px 0px 10px 0px;
}
.search h2 {
	color: midnightblue;
	font-weight: normal;
	margin: 0px;
}
.search h3 {
	font-weight: normal;
    color: #F26600;
    text-align: left;
    margin: 0px 0px;
}
.search h4 {
	font-weight: normal;
    color: #2d2d2d;
    text-align: left;
    margin: 5px 0px;
}
.search p{
	margin: 0px;
}
.searchbar {
	overflow: auto;
}
.result {
	margin: 20px 0px;
}
.persection {
	padding: 30px 30px;
	margin: 20px 0px;
	clear: both;
	overflow: auto;
}
#forminputter {
	font-family: Cambria;
	font-size: 25px;
    border-radius: 5px;
    border-color: darkgrey;
    border-style: solid;
    width: 99.5%;
	height: 40px;
	margin-top: 20px;
}
button {
    background-color: #00AEEF;
    border-radius: 5px;
    border-style: none;

    margin: 20px 0px 0px 0px;
    width: 150px;
    height: 40px;

    font-size: 25px;
    color: white;
	float: right;
}
.inside {
	padding-top: 30px;
	clear: right;
	overflow: auto;
}
.side  {
	width:250px;
	height: 330px;
	margin-top: 30px;
	margin-left: 30px;
	text-align: center;
	float: right;
}
.pic2 {
	width: 240px;
	height: 240px;
	border: 2px gray solid;
	text-align: center;
}
.pic2 img {
	height: 235px;
	max-width: 235px;
}
.rating {
	width: 240px;
	height: 40px;
	text-align: center;
	margin-top: 10px;
}
.rating .rate {
	width: 30px;
	height: 29px;
}
.order {
	padding-bottom: 20px;
	margin: 20px 0px;
	overflow: auto;
}
#dialogoverlay {
	display: none;
	opacity: .7;
	background: gray;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
}
#dialogbox {
	display: none;
	position: fixed;
	background: white;
	border-radius: 3px;
	width: 500px;
	z-index: 11;
	padding: 10px 20px;
	clear: left;
	font-family: Cambria;
}
#dialogbox img {
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-right: 20px;
}
#dialogclose {
	float: right;
	font-weight: bold;
	font-size: 50px;
	cursor: pointer;
}
.review {
	margin: 20px 0px;
	overflow: auto;
	clear: both;
}
.review #pp {
	width: 120px;
	height: 120px;
	border: 2px solid black;
	margin-right: 20px;
	float: left;
}
.ratereview {
	width:120px;
	text-align: center;
	float: right;
}
.ratereview #star {
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	text-align: center;
}